extends ../layouts/layout

block content
  p#notice

  each n in ['share2.content','share2.topic_id','share2.user_id']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/share2s/#{ share2._id}/edit') Edit
  span |
  a(href='/share2s') Back