extends ../layouts/layout

block content
  p#notice

  each n in ['share.content','share.topic_id','share.user_id']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/shares/#{ share._id}/edit') Edit
  span |
  a(href='/shares') Back